libraries/lib-board/libstm32f072b.a
libraries/lib-board/stm32f072b_discovery.o
libraries/lib-board/stm32f072b_discovery_i2c_ee.o
libraries/lib-board/stm32f072b_discovery_l3gd20.o
libraries/lib-mcu/libstm32f0.a
libraries/lib-mcu/stm32f0xx_adc.o
libraries/lib-mcu/stm32f0xx_cec.o
libraries/lib-mcu/stm32f0xx_comp.o
libraries/lib-mcu/stm32f0xx_crc.o
libraries/lib-mcu/stm32f0xx_dac.o
libraries/lib-mcu/stm32f0xx_dbgmcu.o
libraries/lib-mcu/stm32f0xx_dma.o
libraries/lib-mcu/stm32f0xx_exti.o
libraries/lib-mcu/stm32f0xx_flash.o
libraries/lib-mcu/stm32f0xx_gpio.o
libraries/lib-mcu/stm32f0xx_i2c.o
libraries/lib-mcu/stm32f0xx_iwdg.o
libraries/lib-mcu/stm32f0xx_misc.o
libraries/lib-mcu/stm32f0xx_pwr.o
libraries/lib-mcu/stm32f0xx_rcc.o
libraries/lib-mcu/stm32f0xx_rtc.o
libraries/lib-mcu/stm32f0xx_spi.o
libraries/lib-mcu/stm32f0xx_syscfg.o
libraries/lib-mcu/stm32f0xx_tim.o
libraries/lib-mcu/stm32f0xx_usart.o
libraries/lib-mcu/stm32f0xx_wwdg.o
